html, body { 
    margin: 0pt;
    padding: 0pt;
    width: 100%;
    height: 100%;
    background:  #015583; /*rgb(1, 85, 131);*/
}

span{
    display: inline-block;
    vertical-align: middle;
    line-height: 10px; /* <-- adjust this */
}

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.cabecalho {
    width: 100%;
    height : 97px;
    display: block;
    background-image : url("../images/cabecalho_novo.jpg");
    background-repeat : no-repeat;
    background-position : right top;
    background-color: #fff;
}

.areaSaudacao {
    margin-top: 10px;
    background-color: #D8E4EE;;
    background-position : right top;
    border: 0px solid;
    border-radius: 25px;

    text-align: center;
    height: 37px;
    line-height: 37px; 
}

.logoLocalizesenac {
    margin: 0pt;
    padding: 0pt;
}

.menuPesquisas {
height: auto;
}

.blocoPesquisa { 
/*    width: 25%;*/
/*width: 100%;*/
/*    height: 80px;*/
    height: 100%;
    margin-top: 6px;
/*    padding-left: 15px;*/
    padding-top: 10px;
    background-color:#D8E4EE;
    border-radius:1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;

    display:box;

    display: -webkit-box;
    -webkit-box-orient: horizontal;

    display: -moz-box;
    -moz-box-orient: horizontal;

/*    display: box;*/
}

.search {
    /*position: relative;*/
    margin: 0 auto;
    width: 100%;
    /*    margin-top: -20px;*/
}

.search input {
    height: 26px;
    width: 90%;
    padding: 0 12px 0 25px;
    background: white url(../images/lupa.png) 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.subBloco_outrosServicos {
    height: auto;
/*    height: 140px;*/

    margin-top: 6px;

    padding-left: 15px;
    padding-top: 10px;

    background-color:#D8E4EE;

    border-radius:1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border: 4px solid;
    border-color: #015583; /*rgb(1, 85, 131);*/
}

.subBloco_EventosSenac {
    height: 140px;
    margin-top: 6px;
    padding-left: 15px;
    padding-top: 10px;
    background-color:#D8E4EE;
    border-radius:1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border: 4px solid;
    border-color: #015583; /*rgb(1, 85, 131);*/
}

.subBloco_MinhasAulas {
    height: 140px;
    margin-top: 6px;
    padding-left: 15px;
    padding-top: 10px;

    background-color:#D8E4EE;
    /*    background-image : url("../images/postit.png");
        background-size:   cover;*/
    background-repeat: no-repeat;

    border-radius:1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border: 4px solid;
    border-color: #015583; /*rgb(1, 85, 131);*/
}

/*.rodape { 
    width:976px;
    height: 85px;
    width:100%;
    margin-top:-20px;
    position: fixed;
    bottom: 0; 
    text-align:justify;
    clear:both;
    background-color: #116895;
    background:url(../images/bg_rodape-senac.png) center bottom no-repeat;
}*/

.sistemaS{
    float: right;
    padding-top: 5px;
}

.copyRight {
    padding-top:10px;
}

.redesSociais {

}

#pillsMinhasAulas {
    padding-left: 40px;
}

#conteudo_mostrar_pesquisas{
    
        height: auto;
/*    height: 140px;*/
    margin-top: 6px;

    padding-left: 15px;
    padding-top: 10px;

    background-color:#D8E4EE;

    border-radius:1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border: 4px solid;
    border-color: #015583; /*rgb(1, 85, 131);*/
    
}

#conteudoPillsMinhasAulas {
    background-color: #fff;
    height: 40px;
    border-radius:1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    text-align: center;
}
p.TabContent{
    line-height:40px;
}

footer.navbar-default.navbar-fixed-bottom{     
    background:#D8E4EE;
    border-radius:1em 1em 0em 0em;
    -webkit-border-radius: 1em 1em 0em 0em;
    -moz-border-radius: 1em 1em 0em 0em;   
}
footer.navbar-default.navbar-fixed-bottom p{
    line-height: 9px;
}

.blocoExtras {
/*    background-color: black;*/

}

.mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
